Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.vue": ["eslint --fix"],
  "*.php": ["./vendor/bin/pint"],
  "*.{js,css,md}": ["npx prettier --write"]
}

feat: melhorando dockerfile e aplicando prevent para n + 1
  README.md
  api.json
  app/Http/Controllers/API/AuthenticateController.php
  app/Http/Controllers/API/PasswordController.php
  app/Http/Controllers/API/PermissionController.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Controllers/API/UserController.php
  app/Providers/AppServiceProvider.php
  composer.json
  composer.lock
  config/l5-swagger.php
  config/scramble.php
  resources/js/utils/permissions.js
  resources/views/vendor/l5-swagger/.gitkeep
  resources/views/vendor/l5-swagger/index.blade.php
  resources/views/vendor/mail/html/button.blade.php
  resources/views/vendor/mail/html/footer.blade.php
  resources/views/vendor/mail/html/header.blade.php
  resources/views/vendor/mail/html/layout.blade.php
  resources/views/vendor/mail/html/message.blade.php
  resources/views/vendor/mail/html/panel.blade.php
  resources/views/vendor/mail/html/subcopy.blade.php
  resources/views/vendor/mail/html/table.blade.php
  resources/views/vendor/mail/html/themes/default.css
  resources/views/vendor/mail/text/button.blade.php
  resources/views/vendor/mail/text/footer.blade.php
  resources/views/vendor/mail/text/header.blade.php
  resources/views/vendor/mail/text/layout.blade.php
  resources/views/vendor/mail/text/message.blade.php
  resources/views/vendor/mail/text/panel.blade.php
  resources/views/vendor/mail/text/subcopy.blade.php
  resources/views/vendor/mail/text/table.blade.php
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: melhorando dockerfile e aplicando prevent para n + 1
  README.md
  app/Http/Controllers/API/AuthenticateController.php
  app/Http/Controllers/API/PasswordController.php
  app/Http/Controllers/API/PermissionController.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Controllers/API/UserController.php
  app/Providers/AppServiceProvider.php
  config/scramble.php
Due: ./vendor/bin/pint, npx prettier --write

feat: corrigindo bugs e melhorando codigo
  README.md
  app/Http/Controllers/API/AuthenticateController.php
  resources/js/components/roles/FormRole.vue
  resources/js/components/roles/TableSync.vue
  resources/js/composables/Roles/useRoleConfigListPage.js
  resources/js/composables/User/useUser.js
  resources/js/layouts/AdminSidebar.vue
  resources/js/store/useRoleStore.js
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: atualizando versao do laravel para 11.17
  README.md
  app/Http/Controllers/API/AuthenticateController.php
  app/Repositories/Contracts/UserRepositoryInterface.php
  composer.lock
  supervisord.log
Due: ./vendor/bin/pint, npx prettier --write

docs: update documentation with new to do
  README.md
  supervisord.log
Due: npx prettier --write

feat: padronizando pag. pelo paginate params
  app/DTO/Paginate/CustomPaginateParamsDTO.php
  app/DTO/Paginate/PaginateParamsDTO.php
  app/Http/Controllers/API/RoleController.php
  app/Repositories/Contracts/RoleRepositoryInterface.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/RoleService.php
  resources/js/components/roles/TableSync.vue
  resources/js/pages/admin/roles/CreatePage.vue
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/services/RoleService.js
  resources/js/store/useRoleStore.js
  tests/Unit/DTO/PaginateParamsDTOTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: padronizando pag. pelo paginate params
  app/DTO/Paginate/PaginateParamsDTO.php
  app/Http/Controllers/API/RoleController.php
  app/Repositories/Contracts/RoleRepositoryInterface.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/RoleService.php
  tests/Unit/DTO/PaginateParamsDTOTest.php
Due: ./vendor/bin/pint

feat: padronizando pag. pelo paginate params
  .husky/pre-commit
  .husky/pre-push
Due: none

feat: padronizando pag. pelo paginate params
  .husky/pre-commit
  README.md
Due: npx prettier --write

chore: update laravel version
  composer.lock
  supervisord.log
Due: none

ci: update laravel 11.19
  composer.lock
  supervisord.log
Due: none

feat: update laravel, improve methods and fix bug create user
  .github/pull_request_template.md
  .husky/pre-commit
  app/Console/Kernel.php
  app/DTO/AbstractDTO.php
  app/Enums/RolesEnum.php
  app/Http/Controllers/API/PermissionController.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Services/Permission/PermissionService.php
  app/Services/Role/RoleService.php
  app/Services/User/UserService.php
  composer.lock
  database/seeders/RoleSeeder.php
  supervisord.log
  tests/Feature/Users/Datasets.php
  tests/Feature/Users/UsersEndpointApiTest.php
  tests/Unit/Requests/CreateUserRequestTest.php
Due: ./vendor/bin/pint, npx prettier --write

fix: fix bug order user list
  .eslintignore
  .husky/pre-commit
  README.md
  app/Repositories/Contracts/UserRepositoryInterface.php
  app/Repositories/EloquentRepository/UserRepository.php
  app/Services/User/UserService.php
  composer.lock
  resources/js/components/users/TableSync.vue
  resources/js/composables/User/useUser.js
  resources/js/composables/User/useUserConfigListPage.js
  resources/js/pages/admin/users/ListPage.vue
  resources/js/store/useAuthStore.js
  resources/js/utils/notify.js
  supervisord.log
  tests/Unit/Repositories/UserRepositoryTest.php
  tests/Unit/Services/UserServiceTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: fix bug order user list
  .eslintignore
Due: none

chore: update laravel
  composer.lock
  supervisord.log
Due: none

fix: bug delete profile
  app/Exceptions/RoleIsAssignedToUserException.php
  app/Repositories/Contracts/RoleRepositoryInterface.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/Role/RoleService.php
  resources/js/composables/Roles/useRole.js
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/store/useRoleStore.js
  resources/js/utils/notify.js
  tests/Feature/Role/RoleTest.php
  tests/Unit/Exceptions/RoleIsAssignedToAUserExceptionTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: update pest 3.0 and remove refresh database on unit tests
  .husky/pre-commit
  composer.json
  composer.lock
  supervisord.log
  tests/Feature/CheckPermissionTest.php
  tests/Pest.php
  tests/Unit/DTO/CreateUserDTOTest.php
  tests/Unit/DTO/UpdateUserDTOTest.php
  tests/Unit/Repositories/UserRepositoryTest.php
  tests/Unit/Requests/CreateRoleRequestTest.php
  tests/Unit/Requests/CreateUserRequestTest.php
  tests/Unit/Requests/ForgotPasswordRequestTest.php
  tests/Unit/Requests/LoginRequestTest.php
  tests/Unit/Requests/RegisterExternalUserRequestTest.php
  tests/Unit/Requests/ResetPasswordRequestTest.php
  tests/Unit/Requests/UpdateRoleRequestTest.php
  tests/Unit/Requests/UpdateUserRequestTest.php
  tests/Unit/Services/UserServiceTest.php
Due: ./vendor/bin/pint

feat: update npm dependencies
  package-lock.json
Due: none

feat: adjust pest file config
  supervisord.log
  tests/Pest.php
Due: ./vendor/bin/pint

chore: update laravel version
  composer.lock
  supervisord.log
  tests/Pest.php
Due: ./vendor/bin/pint

ci: add unzip in dockerfile
  Dockerfile
  composer.lock
  supervisord.log
Due: none

feat: update dependencies version
  composer.lock
  supervisord.log
Due: none

feat: update dependencies version
  package-lock.json
  package.json
Due: none

chore: update readme and package versions
  README.md
  composer.lock
  supervisord.log
Due: npx prettier --write

feat: refactor services and repositories
  .husky/pre-commit
  .husky/pre-push
  Dockerfile
  README.md
  app/Http/Requests/User/CreateUserRequest.php
  app/Http/Requests/User/UpdateUserRequest.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Repositories/EloquentRepository/UserRepository.php
  app/Services/Role/RoleService.php
  app/Services/User/UserService.php
  composer.lock
  database/seeders/RoleSeeder.php
  resources/js/composables/User/useUserConfigListPage.js
  resources/js/layouts/AdminSidebar.vue
  resources/js/pages/admin/users/ListPage.vue
  resources/js/pages/admin/users/ShowPage.vue
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: update packages npm
  package-lock.json
Due: none

feat: update packages
  composer.lock
  supervisord.log
Due: none

fix: ajustando erro sass e melhorando o codigo
  app/Exceptions/Handler.php
  app/Http/Middleware/CheckPermission.php
  app/Services/Authenticate/AuthenticateService.php
  package-lock.json
  package.json
  resources/js/App.vue
  resources/js/routes/userRoutes.js
  supervisord.log
  vite.config.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: ajustando testes
  tests/Feature/CheckPermissionTest.php
  tests/Feature/Users/UsersEndpointApiTest.php
Due: ./vendor/bin/pint

chore: retirando supervisord.log do repositorio
  supervisord.log
Due: none

feat: modularizando rotas e ajustando erro de criar e editar usuario
  app/DTO/User/CreateUserDTO.php
  app/DTO/User/UpdateUserDTO.php
  app/Http/Controllers/API/UserController.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Repositories/EloquentRepository/UserRepository.php
  resources/js/components/users/FormUser.vue
  resources/js/composables/Roles/useRole.js
  resources/js/composables/User/useUser.js
  resources/js/layouts/AdminSidebar.vue
  resources/js/pages/admin/AdminHomePage.vue
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/admin/users/EditPage.vue
  routes/api.php
  routes/api/auth.php
  routes/api/password.php
  routes/api/permission.php
  routes/api/role.php
  routes/api/user.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: log em roles
  app/Http/Controllers/API/RoleController.php
  app/Services/Role/RoleService.php
  app/Traits/LogsActivityTrait.php
  composer.json
  composer.lock
  config/activitylog.php
  database/migrations/2024_11_07_192215_create_activity_log_table.php
  database/migrations/2024_11_07_192216_add_event_column_to_activity_log_table.php
  database/migrations/2024_11_07_192217_add_batch_uuid_column_to_activity_log_table.php
  resources/js/composables/Roles/useRoleConfigListPage.js
  resources/js/layouts/AdminHeaderLayout.vue
  resources/js/pages/admin/roles/ShowPage.vue
  resources/js/pages/errors/NotFoundPage.vue
  resources/js/routes/roleRoutes.js
  resources/js/routes/userRoutes.js
  resources/js/services/AxiosClient.js
  routes/web.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: retirar console.log
  resources/js/services/AxiosClient.js
Due: eslint --fix, npx prettier --write

chore: update laravel packages
  composer.lock
  resources/js/pages/errors/AccessDeniedPage.vue
Due: eslint --fix

feat: customizacao telas iniciais e estrutura
  .env.example
  resources/css/auth/auth-style.css
  resources/js/assets/background-auth.webp
  resources/js/assets/base-image.png
  resources/js/assets/logo-uefs.png
  resources/js/assets/logo.png
  resources/js/components/AuthComponent.vue
  resources/js/components/LoginComponent.vue
  resources/js/components/auth/FooterAuth.vue
  resources/js/components/auth/LoginForm.vue
  resources/js/components/auth/login/LdapLoginForm.vue
  resources/js/components/auth/login/LoginForm.vue
  resources/js/components/auth/password/ForgotPasswordForm.vue
  resources/js/components/auth/password/ResetPasswordForm.vue
  resources/js/components/auth/register/RegisterForm.vue
  resources/js/components/password/ForgotPasswordComponent.vue
  resources/js/components/password/ResetPasswordComponent.vue
  resources/js/components/register/RegisterComponent.vue
  resources/js/components/register/RegisterForm.vue
  resources/js/composables/Authenticate/useAuthenticateConfigPage.js
  resources/js/composables/Authenticate/useLDAPAuthenticate.js
  resources/js/composables/Authenticate/usePassword.js
  resources/js/composables/Authenticate/useRegisterForm.js
  resources/js/pages/LoginPage.vue
  resources/js/pages/auth/ForgotPassword.vue
  resources/js/pages/auth/LoginPage.vue
  resources/js/pages/auth/RegisterPage.vue
  resources/js/pages/auth/ResetPassword.vue
  resources/js/pages/auth/VerifyEmailPage.vue
  resources/js/pages/password/ForgotPassword.vue
  resources/js/pages/password/ResetPassword.vue
  resources/js/routes/publicRoutes/publicRoutes.js
  resources/js/services/LdapLoginService.js
  resources/js/store/useAuthStore.js
  resources/js/utils/global.js
Due: eslint --fix, npx prettier --write

fix: ajustando nomenclatura das rotas para acessar o dashbaord
  app/Providers/RouteServiceProvider.php
  resources/js/routes/adminRoutes.js
  resources/js/services/AxiosClient.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: customizacao pagina de errors
  resources/css/errors/errors-style.css
  resources/js/components/errors/ErrorComponent.vue
  resources/js/pages/errors/AccessDeniedPage.vue
  resources/js/pages/errors/NotFoundPage.vue
Due: eslint --fix, npx prettier --write

test: ajustando testes de roles
  tests/Feature/Password/ForgotPasswordTest.php
  tests/Feature/Role/RoleTest.php
  tests/Feature/Users/UsersTest.php
  tests/Pest.php
Due: ./vendor/bin/pint

chore: removendo diretorio lang do log-viewer
  lang/vendor/log-viewer/ar.json
  lang/vendor/log-viewer/bg.json
  lang/vendor/log-viewer/bn.json
  lang/vendor/log-viewer/de.json
  lang/vendor/log-viewer/es.json
  lang/vendor/log-viewer/et.json
  lang/vendor/log-viewer/fa.json
  lang/vendor/log-viewer/fr.json
  lang/vendor/log-viewer/he.json
  lang/vendor/log-viewer/hu.json
  lang/vendor/log-viewer/hy.json
  lang/vendor/log-viewer/id.json
  lang/vendor/log-viewer/it.json
  lang/vendor/log-viewer/ja.json
  lang/vendor/log-viewer/ko.json
  lang/vendor/log-viewer/ms.json
  lang/vendor/log-viewer/nl.json
  lang/vendor/log-viewer/pl.json
  lang/vendor/log-viewer/pt-BR.json
  lang/vendor/log-viewer/ro.json
  lang/vendor/log-viewer/ru.json
  lang/vendor/log-viewer/si.json
  lang/vendor/log-viewer/sv.json
  lang/vendor/log-viewer/th.json
  lang/vendor/log-viewer/tr.json
  lang/vendor/log-viewer/uk.json
  lang/vendor/log-viewer/uz.json
  lang/vendor/log-viewer/zh-TW.json
  lang/vendor/log-viewer/zh.json
Due: none
