Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: update onConsult method to check user permissions
  .dockerignore
  .husky/pre-commit
  Dockerfile
  composer.lock
  docker-compose.yaml
  docker/SUPERVISOR/supervisord.conf
  package-lock.json
  package.json
Due: none

feat: enhance Docker configuration with Xdebug support and improved PHP settings
  Dockerfile
  composer.lock
  docker-compose.yaml
  package-lock.json
Due: none

docs: add TODO item for migrating Dockerfile from debian to alpine
  README.md
Due: npx prettier --write

ci: update Docker(migrate alpine version) and supervisor configurations, remove deprecated eslint-define-config dependency
  .dockerignore
  Dockerfile
  README.md
  composer.lock
  docker-compose.yaml
  docker/NGINX/default.conf
  docker/SUPERVISOR/supervisord.conf
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, npx prettier --write

fix: update favicon links for improved compatibility and remove deprecated entries
  resources/views/app.blade.php
Due: ./vendor/bin/pint

refactor: streamline error handling in AuthController and enhance user interface in TableSync components
  app/Http/Controllers/Api/Auth/AuthController.php
  docker-compose.yaml
  resources/js/components/logs/TableSync.vue
  resources/js/components/roles/TableSync.vue
  resources/js/components/users/TableSync.vue
Due: eslint --fix, ./vendor/bin/pint

refactor: streamline error handling in AuthController and enhance user interface in TableSync components
  resources/js/components/auth/login/LdapLoginForm.vue
  resources/js/components/auth/login/LoginForm.vue
Due: eslint --fix

feat: add pre-push hook for running tests and set process timeout in composer.json
  .husky/pre-commit
  .husky/pre-push
  composer.json
Due: none

feat(app): swap Horizon for Pulse plus UI/tests cleanup
  README.md
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
  app/Traits/LogsActivity.php
  composer.json
  composer.lock
  config/app.php
  config/debugbar.php
  config/horizon.php
  config/pulse.php
  database/migrations/2023_06_07_000001_create_pulse_tables.php
  resources/js/layouts/AdminHeaderLayout.vue
  resources/views/vendor/pulse/dashboard.blade.php
  tests/Unit/Model/UserModelTest.php
  tests/Unit/Requests/User/CreateUserRequestTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: update packges
  composer.lock
  package-lock.json
  package.json
Due: none

docs: update README and docker-compose for clarity and consistency
  README.md
  docker-compose.yaml
Due: npx prettier --write

fix(migration): add missing index definitions and correct DB statement for users table
  database/migrations/2014_10_12_000000_create_users_table.php
Due: ./vendor/bin/pint

chore: add cspell for correct misspelling
  cspell.json
Due: none

ci: ajuste em postgres 16 and remove debian frontend var
  Dockerfile
Due: none

chore: adjust readme file docs
  README.md
Due: npx prettier --write

chore: add jsconfig.json for vscode and better autocomplete
  jsconfig.json
Due: none

chore: run pint command
  app/Http/Controllers/Controller.php
  app/Http/Resources/BaseResource.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Traits/LogsActivity.php
  config/debugbar.php
  config/pulse.php
  database/migrations/2014_10_12_000000_create_users_table.php
  database/migrations/2023_06_07_000001_create_pulse_tables.php
  tests/Unit/Model/UserModelTest.php
  tests/Unit/Requests/User/CreateUserRequestTest.php
Due: ./vendor/bin/pint

chore: adjust in base classes
  app/Http/Controllers/Controller.php
  app/Http/Resources/BaseResource.php
Due: ./vendor/bin/pint

chore: add ide helper for better autocomplete
  .phpstorm.meta.php
  _ide_helper.php
  _ide_helper_models.php
Due: ./vendor/bin/pint

chore: add Makefile adding shortcuts for development and ci environments
  Makefile
  README.md
Due: npx prettier --write

chore: adjust cspell dictionary, remove nginx from supervisord
  cspell.json
  docker/SUPERVISOR/supervisord.conf
  entrypoint.sh
  pint.json
Due: none

chore: Add make file with shortcuts for development for ex: make ta run all test and others helpful command add examples on readme
  Makefile
  README.md
Due: npx prettier --write

chore: adjust tests and shortcut commands
  app/Models/User.php
  pint.json
Due: ./vendor/bin/pint

chore: remove .phpstorm.meta.php
  .phpstorm.meta.php
Due: ./vendor/bin/pint

chore: refactor role and user composables for improved readability and consistency; add onConsult method to handle role and user consultations
  resources/js/composables/Roles/useRole.js
  resources/js/composables/User/useUser.js
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/pages/admin/users/ListPage.vue
Due: eslint --fix, npx prettier --write

ci: add changelog and command for releases with semantic release
  changelogen.config.js
  commitlint.config.cjs
  commitlint.config.json
  package-lock.json
  package.json
Due: eslint --fix, npx prettier --write

chore: add to Makefile commands for bump versioning
  Makefile
  cspell.json
Due: none

docs: update README to include access permissions troubleshooting and enhance Makefile shortcuts
  README.md
Due: npx prettier --write

chore: add migration to create indexes on activity log table for improved query performance
  database/migrations/2025_11_11_090905_add_indexes_to_activity_log_table.php
Due: ./vendor/bin/pint

chore: standardize strict types declaration and enhance query logic in ListLogAction; update permissions in ListLogsTest; adjust file permissions for migration files
  app/Actions/Log/ListLogAction.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  database/migrations/2023_06_07_000001_create_pulse_tables.php
  database/migrations/2025_11_10_173511_add_indexes_to_users_table.php
  database/migrations/2025_11_11_090905_add_indexes_to_activity_log_table.php
  database/migrations/2025_11_11_094643_add_indexes_for_json_and_insensitive_search_on_activity_log.php
  tests/Feature/Api/Logs/ListLogsTest.php
Due: ./vendor/bin/pint

test: add new test ListLogAction
  tests/Feature/Api/Logs/ListLogsTest.php
Due: ./vendor/bin/pint

feat: integrate Laravel Horizon for enhanced queue management and monitoring; update environment configurations and Docker setup
  .env.example
  .env.testing
  Dockerfile
  README.md
  app/Providers/AppServiceProvider.php
  app/Providers/HorizonServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  config/horizon.php
  config/queue.php
  database/migrations/2019_08_19_000000_create_failed_jobs_table.php
  database/migrations/2024_04_11_141751_create_jobs_table.php
  docker/SUPERVISOR/supervisord.conf
Due: ./vendor/bin/pint, npx prettier --write

chore: add strict types declaration to HorizonServiceProvider for improved type safety
  app/Providers/HorizonServiceProvider.php
Due: ./vendor/bin/pint

chore: update README.md for improved clarity and structure
  README.md
Due: npx prettier --write

refactor: streamline password reset functionality and improve email content
  app/Actions/Auth/ForgotPasswordAction.php
  app/Http/Kernel.php
  app/Http/Requests/Auth/ForgotPasswordRequest.php
  resources/views/emails/password.blade.php
  routes/api/auth.php
  tests/Feature/Api/Auth/ForgotPasswordTest.php
Due: ./vendor/bin/pint

refactor: streamline password reset functionality and improve email content
  tests/Feature/Api/Auth/ForgotPasswordTest.php
Due: ./vendor/bin/pint

chore: update packages
  composer.lock
Due: none

refactor: simplify password reset logic and improve error handling message
  app/Actions/Auth/ResetPasswordAction.php
  resources/js/services/AxiosClient.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: update larave 12 to 13
  Dockerfile
  README.md
  app/Actions/Log/ListLogAction.php
  app/Http/Kernel.php
  app/Http/Middleware/PreventRequestForgery.php
  app/Http/Middleware/VerifyCsrfToken.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  composer.json
  composer.lock
  config/sanctum.php
  package-lock.json
  pint.json
Due: ./vendor/bin/pint, npx prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.vue)
  ./vendor/bin/pint: any of: *.php
  npx prettier --write: any of: *.{js,css,md}
