Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.vue": ["eslint --fix"],
  "*.php": ["./vendor/bin/pint"],
  "*.{js,css,md}": ["npx prettier --write"]
}

chore: removendo diretorio lang do log-viewer
  resources/views/vendor/log-viewer/bootstrap-3/_master.blade.php
  resources/views/vendor/log-viewer/bootstrap-3/dashboard.blade.php
  resources/views/vendor/log-viewer/bootstrap-3/logs.blade.php
  resources/views/vendor/log-viewer/bootstrap-3/show.blade.php
  resources/views/vendor/log-viewer/bootstrap-4/_master.blade.php
  resources/views/vendor/log-viewer/bootstrap-4/dashboard.blade.php
  resources/views/vendor/log-viewer/bootstrap-4/logs.blade.php
  resources/views/vendor/log-viewer/bootstrap-4/show.blade.php
  resources/views/vendor/log-viewer/bootstrap-5/_master.blade.php
  resources/views/vendor/log-viewer/bootstrap-5/dashboard.blade.php
  resources/views/vendor/log-viewer/bootstrap-5/logs.blade.php
  resources/views/vendor/log-viewer/bootstrap-5/show.blade.php
Due: ./vendor/bin/pint

chore: ajustando mensagem de não autenticado para pt-br
  app/Exceptions/AuthenticationException.php
  resources/css/errors/errors-style.css
  resources/js/components/errors/ErrorComponent.vue
  tests/Unit/Exceptions/AuthenticationExceptionTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: refatorando store de Roles
  resources/js/store/useRoleStore.js
Due: eslint --fix, npx prettier --write

docs: retirando to do da doc
  README.md
Due: npx prettier --write

refactor: aplicando use do throw_if
  app/Services/User/UserService.php
  database/seeders/DeleteReasonSeeder.php
  database/seeders/RoleSeeder.php
  database/seeders/UserSeeder.php
  resources/js/components/users/FormUser.vue
  resources/js/pages/admin/users/CreatePage.vue
Due: eslint --fix, ./vendor/bin/pint

feat: customizacao estrutura geral
  resources/css/admin.css
  resources/js/assets/icons/logoSmaller-50px40px.png
  resources/js/assets/icons/logoSmaller.svg
  resources/js/assets/logo-125px40px.png
  resources/js/assets/logo.svg
  resources/js/layouts/AdminHeaderLayout.vue
  resources/js/layouts/AdminLayout.vue
  resources/js/layouts/AdminSidebar.vue
  resources/js/pages/admin/AdminHomePage.vue
Due: eslint --fix, npx prettier --write

feat: ajustes de estilo
  resources/css/admin.css
  resources/js/assets/logo-125px40px.png
Due: npx prettier --write

feat: estrutura base
  resources/css/admin.scss
  resources/js/components/shared/ActionButton.vue
  resources/js/components/shared/DialogComponent.vue
  resources/js/components/shared/FileInput.vue
  resources/js/components/shared/PageTopTitle.vue
  resources/js/components/shared/SearchInput.vue
  resources/js/layouts/AdminLayout.vue
  resources/js/pages/admin/PageWrapper.vue
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/admin/users/EditPage.vue
  resources/js/pages/admin/users/ListPage.vue
Due: eslint --fix

chore: update packages version
  composer.lock
  resources/views/app.blade.php
Due: ./vendor/bin/pint

chore: update packages version and add to do in doc
  README.md
  composer.json
  composer.lock
  phpstan.neon
Due: npx prettier --write

docs: add more to do task
  README.md
Due: npx prettier --write

ci: ajustando hook git
  .husky/pre-commit
  docker-compose.yaml
Due: none

chore: ajustando erros larastan e script pre-commit
  .husky/pre-commit
  .husky/pre-push
  app/Exceptions/Handler.php
  app/Http/Middleware/RedirectIfAuthenticated.php
  app/Models/User.php
  app/Repositories/Contracts/PermissionRepositoryInterface.php
  app/Repositories/EloquentRepository/PermissionRepository.php
  app/Rules/ValidateCPF.php
  app/Services/Permission/PermissionService.php
  app/Traits/LogsActivityTrait.php
  phpstan.neon
Due: ./vendor/bin/pint

chore: install debugbar laravel and adjust husky with sonar coverage
  .husky/pre-commit
  composer.json
  composer.lock
  config/debugbar.php
  storage/debugbar/.gitignore
Due: ./vendor/bin/pint

chore: ajustando alias AS do dockerfile
  Dockerfile
Due: none

chore: ajustando nome do container no pre-commit
  .husky/pre-commit
  Dockerfile
Due: none

ci: ajustando pre-commit husky
  .husky/pre-commit
Due: none

chore: update packages laravel
  composer.lock
Due: none

fix: fixing erros larastans
  _ide_helper_models.php
  app/DTO/AbstractDTO.php
  app/DTO/Authenticate/LoginDTO.php
  app/DTO/Authenticate/MyProfileDTO.php
  app/DTO/Paginate/PaginateDataDTO.php
  app/DTO/Paginate/PaginateParamsDTO.php
  app/DTO/Password/ForgotPasswordDTO.php
  app/DTO/Password/ResetPasswordDTO.php
  app/DTO/Permissions/PermissionDTO.php
  app/DTO/Role/CreateRoleDTO.php
  app/DTO/Role/RoleDTO.php
  app/DTO/Role/UpdateRoleDTO.php
  app/DTO/User/CreateUserDTO.php
  app/DTO/User/RegisterExternalUserDTO.php
  app/DTO/User/UpdateUserDTO.php
  app/DTO/User/UserDTO.php
  app/Exceptions/AuthenticationException.php
  app/Exceptions/InvalidCredentialsException.php
  app/Exceptions/RoleIsAssignedToUserException.php
  app/Exceptions/UnactivatedUserException.php
  app/Mail/SendVerifyEmail.php
  app/Models/DeleteReason.php
  app/Models/User.php
  app/Repositories/EloquentRepository/UserRepository.php
  app/Services/User/UserService.php
  composer.json
  composer.lock
  phpstan.neon
Due: ./vendor/bin/pint

ci: ajustando husky pre-commit
  .gitignore
  .husky/pre-commit
Due: none

fix: fixing erros larastans
  app/Http/Requests/LoginRequest.php
  app/Http/Requests/Password/ForgotPasswordRequest.php
  app/Http/Requests/Password/ResetPasswordRequest.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Http/Requests/User/RegisterExternalUserRequest.php
  app/Http/Requests/User/UpdateUserRequest.php
  app/Http/Resources/PermissionResource.php
  app/Http/Resources/RoleResource.php
  app/Http/Resources/UserResource.php
  app/Mail/AccountDeletionNotification.php
Due: ./vendor/bin/pint

fix: fixing erros larastan and unit tests
  README.md
  app/Http/Controllers/API/AuthenticateController.php
  app/Http/Controllers/API/PermissionController.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Controllers/API/UserController.php
  app/Services/User/UserService.php
  tests/Unit/Exceptions/AuthenticationExceptionTest.php
Due: ./vendor/bin/pint, npx prettier --write

fix: fixes login and admin user creation errors
  app/Http/Controllers/API/AuthenticateController.php
  app/Services/Authenticate/AuthenticateService.php
  app/Services/User/UserService.php
  database/seeders/DatabaseSeeder.php
  database/seeders/UserSeeder.php
  resources/js/components/auth/login/LoginForm.vue
  resources/js/composables/Authenticate/useAuthenticate.js
  resources/js/store/useAuthStore.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: fixes create user cpf label
  app/Http/Controllers/API/UserController.php
  app/Models/User.php
Due: ./vendor/bin/pint

fix: fixes ListPage button create do not show
  resources/js/pages/admin/users/ListPage.vue
Due: eslint --fix

chore: remove use console.error and apply throw new Error
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/admin/users/EditPage.vue
Due: eslint --fix

chore: update version php
  Dockerfile
Due: none

feat: adicionando loading na tela
  resources/js/components/auth/login/LdapLoginForm.vue
  resources/js/components/auth/login/LoginForm.vue
Due: eslint --fix

chore: update packages npm
  package-lock.json
Due: none

fix: corrigindo erros larastan
  .husky/pre-commit
  README.md
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Http/Resources/BaseResource.php
  app/Http/Resources/PermissionResource.php
  app/Http/Resources/RoleResource.php
  app/Models/User.php
  app/Providers/AppServiceProvider.php
  app/Repositories/EloquentRepository/PermissionRepository.php
  app/Repositories/EloquentRepository/RoleRepository.php
  phpstan.neon
  resources/js/components/roles/FormRole.vue
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

docs: adicionando informacoes
  README.md
Due: npx prettier --write

fix: corrigindo erros dos testes e criando mais um teste para dto
  README.md
  app/Exceptions/Handler.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Resources/BaseResource.php
  app/Http/Resources/RoleResource.php
  app/Providers/AppServiceProvider.php
  app/Repositories/EloquentRepository/PermissionRepository.php
  app/Repositories/EloquentRepository/RoleRepository.php
  database/seeders/RoleSeeder.php
  routes/api.php
  tests/Feature/Authentication/AuthenticationTest.php
  tests/Feature/Password/ForgotPasswordTest.php
  tests/Feature/Role/RoleTest.php
  tests/Feature/Users/UsersTest.php
  tests/Unit/DTO/CreateUserDTOTest.php
Due: ./vendor/bin/pint, npx prettier --write

refactor: ajustando visualizacao de botao e refatorando composables
  database/seeders/PermissionSeeder.php
  database/seeders/UserSeeder.php
  resources/js/components/roles/FormRole.vue
  resources/js/components/roles/TableSync.vue
  resources/js/composables/Roles/useRole.js
  resources/js/store/useRoleStore.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

test: teste de disparo do e-mail de reset password
  app/Enums/RolesEnum.php
  app/Http/Controllers/API/RoleController.php
  app/Mail/SendNotificationUserActivation.php
  app/Policies/RolePolicy.php
  app/Providers/AuthServiceProvider.php
  database/seeders/RoleSeeder.php
  resources/js/composables/Roles/useRole.js
  resources/js/store/useRoleStore.js
  tests/Feature/Password/ForgotPasswordTest.php
  tests/Feature/Role/RoleTest.php
  tests/Pest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: update packages
  app/Services/Password/PasswordService.php
  composer.lock
Due: ./vendor/bin/pint

chore: adicionando configurações de usuário admin no .env
  .env.example
  .env.testing
Due: none

chore: adicionando configurações iniciais
  config/starterkit.php
Due: ./vendor/bin/pint
