Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: pull with changes branch
  _ide_helper_models.php
Due: ./vendor/bin/pint

chore: add permission read/edit .gitignore debugbar
  storage/debugbar/.gitignore
Due: none

feat: add macros to whereILike and orWhereILike
  app/Actions/User/ListUserAction.php
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/pint

chore: update packages
  composer.lock
  package-lock.json
Due: none

feat: remove macro and use whereLike with third parameter equal true for case insensitive
  app/Actions/User/ListUserAction.php
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/pint

feat: change logging config
  config/logging.php
Due: ./vendor/bin/pint

chore: add docs for api
  api.json
  config/scramble.php
  routes/web.php
Due: ./vendor/bin/pint

feat: corrigindo documentacao
  app/Providers/AppServiceProvider.php
  config/scramble.php
  routes/web.php
  storage/api-docs/api-docs.json
Due: ./vendor/bin/pint

chore: remove tests from TODO
  README.md
Due: npx prettier --write

feat: apply midd for scrambe restrict
  app/Http/Kernel.php
  app/Http/Middleware/RestrictScrambleAccess.php
  config/scramble.php
Due: ./vendor/bin/pint

feat: apply midd for scrambe restrict
  app/Http/Middleware/RestrictScrambleAccess.php
Due: ./vendor/bin/pint

feat: padronizando e corrigindo erros
  Dockerfile
  _ide_helper_models.php
  app/Actions/User/AddDeleteReasonAction.php
  app/Actions/User/DeleteUserAction.php
  app/Http/Middleware/RestrictScrambleAccess.php
  app/Mail/AccountDeletionNotification.php
  app/Models/DeleteReason.php
  composer.lock
  database/factories/DeleteReasonFactory.php
  database/migrations/2024_05_03_123449_create_table_delete_reason.php
  database/seeders/DeleteReasonSeeder.php
  package-lock.json
  phpstan.neon
  resources/js/components/roles/FormRole.vue
  resources/js/components/users/TableSync.vue
  resources/js/composables/Roles/useRole.js
  resources/js/composables/User/useUser.js
  resources/js/pages/admin/users/EditPage.vue
  resources/js/services/AxiosClient.js
  resources/js/services/UserService.js
  resources/views/emails/accountDeletion.blade.php
  routes/web.php
  tests/Feature/Api/User/UserTest.php
  tests/Unit/Model/DeleteReasonTest.php
  tests/Unit/Policies/RolePolicyTest.php
  tests/Unit/Policies/UserPolicyTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: correcao de apontamentos dominio de permissoes
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  resources/js/composables/Roles/useRole.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: bug no status - retirando perfil
  resources/js/composables/User/useUser.js
Due: eslint --fix, npx prettier --write

test: ignore service provider
  app/Providers/AppServiceProvider.php
Due: ./vendor/bin/pint

fix: corrigindo erros da listagem de usuarios
  app/Actions/User/ListUserAction.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/User/IndexUserRequest.php
  resources/js/composables/User/useUser.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: corrigindo erros da listagem de usuarios e barra lateral
  app/Http/Requests/Role/IndexRoleRequest.php
  app/Http/Requests/User/IndexUserRequest.php
  resources/css/admin.scss
  resources/css/app.sass
  resources/css/quasar-variables.sass
  resources/js/composables/User/useUser.js
  resources/js/layouts/AdminHeaderLayout.vue
  resources/js/layouts/AdminLayout.vue
  resources/js/layouts/AdminSidebar.vue
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: teste
  resources/css/quasar-variables.sass
Due: none

style: ajusta as variaveis de css padrão
  resources/css/quasar-variables.sass
Due: none

style: ajusta a responsividade do navbar
  resources/css/admin.scss
  resources/js/pages/admin/AdminHomePage.vue
Due: eslint --fix

chore: ajustando handler e parametro no frontend
  app/Exceptions/Handler.php
  resources/js/layouts/AdminLayout.vue
Due: eslint --fix, ./vendor/bin/pint

refactor: remove 'reviewer' role and update related references to 'guest'
  app/Actions/Auth/ForgotPasswordAction.php
  app/Enums/RolesEnum.php
  app/Http/Requests/User/RegisterExternalUserRequest.php
  database/seeders/RoleSeeder.php
  resources/js/components/auth/register/RegisterForm.vue
  resources/js/components/users/modal/DeletionConfirmation.vue
  resources/js/layouts/AdminHeaderLayout.vue
  resources/js/pages/admin/roles/ListPage.vue
  tests/Feature/Api/Auth/ForgotPasswordTest.php
  tests/Feature/Api/Role/RoleTest.php
  tests/Feature/Api/User/Datasets.php
  tests/Helpers.php
Due: eslint --fix, ./vendor/bin/pint

feat: add smaller logo asset for improved UI
  resources/js/assets/logoSmaller-50px40px.png
Due: none

doc: ajustando o readmi para o passo a passo da instalação do projeto
  README.md
Due: npx prettier --write

fix: ajusta o menu para funcionar corretamente no mobile
  resources/css/admin.scss
  resources/js/layouts/AdminLayout.vue
  resources/js/layouts/AdminSidebar.vue
Due: eslint --fix

feat: cria a logica melhorada de perfis de acesso
  app/Actions/Role/ListRoleAction.php
  app/Http/Controllers/Api/Auth/MyProfileAction.php
  resources/js/components/roles/TableSync.vue
  resources/js/composables/Roles/useRole.js
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/store/useRoleStore.js
  resources/js/utils/roles.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: update styles and layout for improved responsiveness and UI consistency
  resources/css/admin.scss
  resources/css/quasar-variables.sass
  resources/js/components/roles/TableSync.vue
  resources/js/components/shared/PageTopTitle.vue
  resources/js/components/shared/SearchInput.vue
  resources/js/components/users/TableSync.vue
  resources/js/composables/Roles/useRole.js
  resources/js/pages/admin/PageWrapper.vue
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/pages/admin/users/ListPage.vue
Due: eslint --fix, npx prettier --write

refactor: streamline exception handling and enforce strict types in user verification and permission checks
  app/Actions/User/VerifyAction.php
  app/Http/Middleware/CheckPermission.php
  app/Traits/FailedValidation.php
Due: ./vendor/bin/pint

doc: update README to reflect changes in ERD generation command
  README.md
Due: npx prettier --write

docs: Update README.md
  README.md
Due: npx prettier --write

feat: enhance AdminSidebar and AdminHomePage with improved structure and dynamic data binding
  resources/js/layouts/AdminSidebar.vue
  resources/js/pages/admin/AdminHomePage.vue
Due: eslint --fix

feat: add Laravel Telescope and Horizon support with necessary configurations and migrations
  Dockerfile
  README.md
  api.json
  app/Actions/Auth/MyProfileAction.php
  app/Http/Controllers/Api/Auth/MyProfileAction.php
  app/Http/Middleware/RestrictScrambleAccess.php
  app/Providers/HorizonServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  config/horizon.php
  config/telescope.php
  database/migrations/2018_08_08_100000_create_telescope_entries_table.php
  public/vendor/telescope/app-dark.css
  public/vendor/telescope/app.css
  public/vendor/telescope/app.js
  public/vendor/telescope/favicon.ico
  public/vendor/telescope/mix-manifest.json
  resources/js/utils/roles.js
  storage/debugbar/.gitignore
  tests/Unit/Policies/RolePolicyTest.php
  tests/Unit/Policies/UserPolicyTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: enable strict types in service providers and update PHPUnit configuration
  app/Providers/HorizonServiceProvider.php
  app/Providers/TelescopeServiceProvider.php
  phpunit.xml
Due: ./vendor/bin/pint

feat: update user permissions and routes for consistency; enhance user policy methods
  .env.example
  app/Actions/User/ShowUserAction.php
  app/Exceptions/Handler.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Policies/UserPolicy.php
  database/seeders/PermissionSeeder.php
  resources/js/composables/User/useUserConfigListPage.js
  resources/js/routes/userRoutes.js
  resources/js/utils/permissions.js
  routes/api/user.php
  tests/Feature/Api/User/UserTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

docs: update TODO list in README to refine user permissions policies and add user information display
  README.md
Due: npx prettier --write

feat: add PHP Insights support and enforce strict types across various files; refactor logging trait usage
  README.md
  app/Actions/Auth/MyProfileAction.php
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/ShowRoleAction.php
  app/Actions/Role/UpdateRoleAction.php
  app/Actions/User/CreateExternalUserAction.php
  app/Actions/User/CreateUserAction.php
  app/Actions/User/DeleteUserAction.php
  app/Actions/User/UpdateUserAction.php
  app/Http/Requests/User/UpdateUserRequest.php
  app/Mail/SendVerifyEmail.php
  app/Policies/RolePolicy.php
  app/Providers/AuthServiceProvider.php
  app/Providers/EventServiceProvider.php
  app/Traits/LogsActivity.php
  composer.json
  composer.lock
  config/insights.php
  package-lock.json
Due: ./vendor/bin/pint, npx prettier --write

feat: update RolePolicy methods to include Role parameter for show and delete actions
  app/Policies/RolePolicy.php
Due: ./vendor/bin/pint

docs: remove completed TODO item for creating policies in README
  README.md
Due: npx prettier --write

feat: ajusta as acoes dos botoes da listagem
  resources/css/quasar-variables.sass
  resources/js/components/roles/TableSync.vue
  resources/js/components/users/TableSync.vue
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.vue)
  ./vendor/bin/pint: any of: *.php
  npx prettier --write: any of: *.{js,css,md}
