Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

docs: update documentation
  .husky/pre-commit
  .husky/pre-push
  README.md
Due: npx prettier --write

docs: update documentation
  README.md
Due: npx prettier --write

chore: removing unused images and improving components and seeders
  database/seeders/DeleteReasonSeeder.php
  database/seeders/PermissionSeeder.php
  database/seeders/RoleSeeder.php
  resources/js/assets/logo-sistex-without-bg.png
  resources/js/assets/logo-sistex.png
  resources/js/assets/logo.svg
  resources/js/components/password/ForgotPasswordForm.vue
  resources/js/components/roles/FormRole.vue
  resources/js/components/roles/TableSync.vue
  resources/js/layouts/AdminSidebar.vue
  resources/js/pages/admin/AdminHomePage.vue
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/admin/users/EditPage.vue
  resources/js/pages/admin/users/ListPage.vue
  resources/js/routes/adminRoutes.js
  resources/js/routes/userRoutes.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: improving components
  resources/css/app.sass
  resources/css/quasar-variables.sass
  resources/js/components/users/FormUser.vue
  resources/js/pages/admin/roles/EditPage.vue
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/pages/admin/roles/ShowPage.vue
  resources/js/pages/erros/AccessDeniedPage.vue
  resources/js/pages/erros/NotFoundPage.vue
  resources/js/routes/index.js
  resources/js/routes/roleRoutes.js
  resources/js/routes/routes.js
  resources/js/routes/userRoutes.js
  resources/js/services/AxiosClient.js
  supervisord.log
  supervisord.pid
Due: eslint --fix, npx prettier --write

chore: add POSTGRES PASSWORD variavel de entorno
  docker-compose.yml
  supervisord.log
Due: none

chore: remove thematic area and unit models adjust to validated
  .gitignore
  app/Http/Controllers/API/AuthenticateController.php
  app/Http/Controllers/API/PasswordController.php
  app/Http/Requests/LoginRequest.php
  app/Http/Requests/Password/ForgotPasswordRequest.php
  app/Http/Requests/Password/ResetPasswordRequest.php
  docker-compose.yml
  supervisord.log
  tests/Feature/Authentication/AuthenticationTest.php
  tests/Unit/Model/ThematicAreaModelTest.php
  tests/Unit/Model/UnitModelTest.php
Due: ./vendor/bin/pint

test(AuthenticationTest): fix RoleEnum
  app/Enums/RolesEnum.php
  supervisord.log
  tests/Feature/Authentication/AuthenticationTest.php
Due: ./vendor/bin/pint

test: improve the tests, ainda tem 8 testes com erros
  .env.testing
  app/Enums/RolesEnum.php
  app/Http/Controllers/API/UserController.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Services/User/UserService.php
  phpunit.xml
  supervisord.log
  tests/Feature/Authentication/AuthenticationTest.php
  tests/Feature/Users/Datasets.php
  tests/Feature/Users/UsersEndpointApiTest.php
  tests/Helpers.php
  tests/Unit/Services/UserServiceTest.php
Due: ./vendor/bin/pint

test: users tests endpoint
  app/Http/Controllers/API/UserController.php
  supervisord.log
  tests/Feature/Users/UsersEndpointApiTest.php
Due: ./vendor/bin/pint

feat: finishing translating the application to en-us on the frontend and updating laravel
  README.md
  app/Services/Authenticate/AuthenticateService.php
  composer.lock
  resources/js/components/auth/LoginForm.vue
  resources/js/composables/Roles/useRoleConfigListPage.js
  resources/js/layouts/AdminHeaderLayout.vue
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat(mailpit/tests): install mailpit and adjusts unit tests
  .env.example
  .env.testing
  app/DTO/Password/ResetPasswordDTO.php
  app/Exceptions/Handler.php
  app/Http/Controllers/API/PasswordController.php
  app/Http/Requests/Password/ResetPasswordRequest.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  database/migrations/2024_04_11_141128_create_permission_tables.php
  docker-compose.yml
  supervisord.log
  tests/Feature/Password/ResetPasswordTest.php
  tests/Feature/Users/UsersEndpointApiTest.php
  tests/Helpers.php
  tests/Unit/Requests/CreateRoleRequestTest.php
  tests/Unit/Requests/UpdateRoleRequestTest.php
  tests/Unit/Services/UserServiceTest.php
Due: ./vendor/bin/pint

docs: improve documentation
  README.md
Due: npx prettier --write

chore: update routes and components for admin home page
  app/DTO/Role/UpdateRoleDTO.php
  app/Http/Controllers/API/AuthenticateController.php
  app/Services/Authenticate/AuthenticateService.php
  app/Services/User/UserService.php
  database/seeders/RoleSeeder.php
  database/seeders/UserSeeder.php
  resources/js/components/auth/LoginForm.vue
  resources/js/components/users/TableSync.vue
  resources/js/components/users/modal/DeletionConfirmation.vue
  resources/js/routes/adminRoutes.js
  resources/js/services/AxiosClient.js
  resources/js/store/useRoleStore.js
  supervisord.log
  tests/Feature/Users/Datasets.php
  tests/Feature/Users/UsersEndpointApiTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: reemove unused files and update styling for admin pages
  README.md
  app/Http/Requests/Role/RoleIndexRequest.php
  app/Http/Resources/BaseResource.php
  resources/css/app.sass
  resources/css/quasar-variables.sass
  resources/js/components/roles/FormRole.vue
  resources/js/components/roles/TableSync.vue
  resources/js/pages/admin/filters/listPage.vue
  resources/js/pages/admin/filters/showPage.vue
  resources/js/pages/admin/frequencias/listPage.vue
  resources/js/pages/admin/frequencias/showPage.vue
  resources/js/pages/admin/planes/listPage.vue
  resources/js/pages/admin/planes/showPage.vue
  resources/js/pages/admin/programs/listPage.vue
  resources/js/pages/admin/programs/showPage.vue
  resources/js/pages/admin/reports/listPage.vue
  resources/js/pages/admin/reports/showPage.vue
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/pages/admin/thematicAreas/CreatePage.vue
  resources/js/pages/admin/thematicAreas/EditPage.vue
  resources/js/pages/admin/thematicAreas/ListPage.vue
  resources/js/pages/admin/units/CreatePage.vue
  resources/js/pages/admin/units/EditPage.vue
  resources/js/pages/admin/units/ListPage.vue
  resources/js/pages/errors/AccessDeniedPage.vue
  resources/js/pages/errors/NotFoundPage.vue
  resources/js/routes/routes.js
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

docs: adicionando atividade no to do
  README.md
  supervisord.log
Due: npx prettier --write

ci: adjust script permissions and husky
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  composer.lock
  package-lock.json
  package.json
  permissions.sh
  supervisord.log
Due: none

ci: adjust script permissions and husky
  phpstan.neon
Due: none

ci: adjust pint and husky
  .husky/pre-push
Due: none

chore: adjust package.json
  package-lock.json
  package.json
Due: none

fix: fix namespace auth exception
  app/Exceptions/AuthenticationException.php
Due: ./vendor/bin/pint

fix: error list roles
  Dockerfile
  app/DTO/Paginate/CustomPaginateParamsDTO.php
  app/Exceptions/AuthenticationException.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Requests/Role/RoleIndexRequest.php
  package-lock.json
  package.json
  resources/js/app.js
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

feat: refactor list user
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Repositories/EloquentRepository/UserRepository.php
Due: ./vendor/bin/pint

refactor: remove unused code and optimize user list functionality
  .husky/pre-commit
  app/Http/Resources/ThematicAreaResource.php
  app/Http/Resources/UnitResource.php
  app/Repositories/EloquentRepository/UserRepository.php
  resources/js/composables/User/useUser.js
  resources/js/pages/admin/users/ListPage.vue
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: remove unused code and optimize user list functionality
  app/Repositories/EloquentRepository/UserRepository.php
Due: ./vendor/bin/pint

refactor: remove unused code and optimize user list functionality
  app/Http/Controllers/API/UserController.php
  app/Repositories/EloquentRepository/UserRepository.php
  resources/js/components/users/TableSync.vue
  resources/js/composables/User/useUser.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: remove unused code and optimize user list functionality
  app/Http/Controllers/API/UserController.php
  app/Repositories/EloquentRepository/UserRepository.php
Due: ./vendor/bin/pint

docs: adjust docs
  README.md
  supervisord.log
Due: npx prettier --write

fix: bug Edit Role - Description can be null
  app/DTO/Role/CreateRoleDTO.php
  app/DTO/Role/RoleDTO.php
  app/DTO/Role/UpdateRoleDTO.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/RoleIndexRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/RoleService.php
  database/migrations/2024_04_11_141128_create_permission_tables.php
  resources/js/components/roles/FormRole.vue
  resources/js/components/roles/TableSync.vue
  resources/js/composables/Roles/useRoleConfigListPage.js
  resources/js/store/useRoleStore.js
  routes/api.php
  supervisord.log
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: bug Edit Role - Description can be null
  README.md
  app/DTO/Role/CreateRoleDTO.php
  app/DTO/Role/RoleDTO.php
  app/DTO/Role/UpdateRoleDTO.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/RoleService.php
  database/migrations/2024_04_11_141128_create_permission_tables.php
  resources/js/composables/Roles/useRoleConfigListPage.js
  routes/api.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

fix: bug Edit Role - Description can be null
  README.md
Due: npx prettier --write

chore: update laravel 11
  composer.lock
  supervisord.log
Due: none

fix: filter and params
  app/DTO/Paginate/CustomPaginateParamsDTO.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Resources/BaseResource.php
  app/Http/Resources/RoleResource.php
  app/Repositories/EloquentRepository/RoleRepository.php
  resources/js/components/roles/TableSync.vue
  resources/js/components/users/TableSync.vue
  resources/js/composables/Roles/useRoleConfigListPage.js
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/services/RoleService.js
  resources/js/store/useRoleStore.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

test: add mail fake
  app/Http/Controllers/API/RoleController.php
  app/Http/Resources/RoleResource.php
  app/Repositories/EloquentRepository/RoleRepository.php
  tests/Feature/Password/ForgotPasswordTest.php
  tests/Unit/Services/UserServiceTest.php
Due: ./vendor/bin/pint

test: add mail fake
  tests/Feature/Password/ForgotPasswordTest.php
Due: ./vendor/bin/pint

feat: melhorando dockerfile e aplicando prevent para n + 1
  Dockerfile
  README.md
  app/Providers/AppServiceProvider.php
  composer.lock
  docker-compose.yml
  resources/views/app.blade.php
  supervisord.log
Due: ./vendor/bin/pint, npx prettier --write

feat: melhorando dockerfile e aplicando prevent para n + 1
  README.md
  app/Http/Controllers/API/RoleController.php
  app/Providers/AppServiceProvider.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Repositories/EloquentRepository/UserRepository.php
  app/Services/RoleService.php
  app/Services/User/UserService.php
Due: ./vendor/bin/pint, npx prettier --write

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.vue)
  ./vendor/bin/pint: any of: *.php
  npx prettier --write: any of: *.{js,css,md}
