Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: removendo codigo não utilizado e adicionando actions
  app/Actions/Role/RoleBySlugAction.php
  app/Actions/User/CreateExternalUserAction.php
  app/Http/Controllers/Api/Role/RoleController.php
  app/Services/User/UserService.php
  tests/Feature/Authentication/AuthenticationTest.php
Due: ./vendor/bin/pint

docs: adiciona types para php stan
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/SyncRolePermissionAction.php
  app/Actions/User/CreateExternalUserAction.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/IndexRoleRequest.php
  app/Http/Requests/Role/UpdateRoleRequest.php
Due: ./vendor/bin/pint

chore: update packages
  api.json
  composer.json
  composer.lock
Due: none

chore: update packages
  package-lock.json
  package.json
Due: none

test: mudando estrutura de testes para melhorar o coverage
  README.md
  app/Http/Controllers/Api/Auth/AuthenticateController.php
  app/Http/Controllers/Api/Auth/PasswordController.php
  app/Http/Controllers/Api/Permission/PermissionController.php
  app/Http/Requests/Auth/ForgotPasswordRequest.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Http/Requests/Auth/ResetPasswordRequest.php
  routes/api/auth.php
  routes/api/password.php
  routes/api/permission.php
  tests/Feature/Http/Controller/Api/Auth/AuthenticationTest.php
  tests/Feature/Http/Controller/Api/Auth/ForgotPasswordTest.php
  tests/Feature/Http/Controller/Api/Auth/ResetPasswordTest.php
  tests/Feature/Http/Controller/Api/Permission/CheckPermissionTest.php
  tests/Feature/Http/Controller/Api/Permission/PermissionTest.php
Due: ./vendor/bin/pint, npx prettier --write

ci: update to laravel 12
  composer.json
  composer.lock
Due: none

chore: ajustando pacote no package.json
  package-lock.json
  package.json
Due: none

refactor: mudando a action pattern
  app/Actions/User/ListUserAction.php
  app/Http/Requests/User/IndexUserRequest.php
Due: ./vendor/bin/pint

refactor: mudando fucionalidade crear usuários para action pattern
  app/Actions/Role/CreateRoleAction.php
  app/Actions/User/CreateUserAction.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/User/CreateUserRequest.php
  tests/Feature/Http/Controller/Api/User/Datasets.php
  tests/Feature/Http/Controller/Api/User/UserControllerTest.php
Due: ./vendor/bin/pint

refactor: to action pattern
  app/Actions/User/ShowUserAction.php
  app/Actions/User/UpdateUserAction.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/User/UpdateUserRequest.php
  app/Repositories/EloquentRepository/UserRepository.php
  routes/api/user.php
Due: ./vendor/bin/pint

refactor: delete method to action pattern
  app/Actions/User/AddDeleteReasonAction.php
  app/Actions/User/DeleteUserAction.php
  app/Http/Controllers/Api/User/UserController.php
  routes/api/user.php
  tests/Feature/Http/Controller/Api/User/UserControllerTest.php
Due: ./vendor/bin/pint

refactor: remove user roles
  app/Actions/User/RemoveUserRoleAction.php
Due: ./vendor/bin/pint

refactor: to action pattern delete reason and verify email
  app/Actions/User/AddDeleteReasonAction.php
  app/Actions/User/DeleteUserAction.php
  app/Actions/User/ListUserAction.php
  app/Actions/User/VerifyAction.php
  app/Http/Controllers/Api/User/UserController.php
  app/Models/User.php
  resources/js/services/RoleService.js
  tests/Feature/Http/Controller/Api/User/UserControllerTest.php
  tests/Helpers.php
  tests/Unit/Model/UserModelTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: ao passar o user pelo binding da rota guarda no cache e gera problemas
  app/Actions/User/ShowUserAction.php
  app/Actions/User/UpdateUserAction.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/User/UpdateUserRequest.php
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/admin/users/EditPage.vue
  resources/js/store/useUserStore.js
  routes/api/user.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

test: ajustando teste email invalido
  tests/Feature/Http/Controller/Api/User/UserControllerTest.php
Due: ./vendor/bin/pint

refactor: bind com app helper
  app/Actions/User/AddDeleteReasonAction.php
  app/Actions/User/DeleteUserAction.php
  app/Actions/User/RemoveUserRoleAction.php
  app/Http/Controllers/Api/Role/RoleController.php
Due: ./vendor/bin/pint

refactor: authentication login
  app/Actions/Auth/LoginAction.php
  app/Actions/Permission/PermissionListAction.php
  app/Actions/Role/RoleBySlugAction.php
  app/Actions/User/CreateExternalUserAction.php
  app/Http/Controllers/Api/Auth/AuthenticateController.php
  app/Http/Controllers/Api/Permission/PermissionController.php
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Services/Authenticate/AuthenticateService.php
  resources/js/composables/Authenticate/useAuthenticate.js
  tests/Feature/Http/Controller/Api/Auth/AuthenticationTest.php
  tests/Feature/Http/Controller/Api/Permission/PermissionControllerTest.php
  tests/Feature/Http/Controller/Api/Role/RoleControllerTest.php
  tests/Unit/DTO/CreateRoleDTOTest.php
  tests/Unit/DTO/CreateUserDTOTest.php
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

refactor: logout and my profile to action patter
  app/Actions/Auth/LogoutAction.php
  app/Actions/Auth/MyProfileAction.php
  app/Http/Controllers/Api/Auth/AuthenticateController.php
Due: ./vendor/bin/pint

chore: removendo services, dtos, repositories
  app/DTO/AbstractDTO.php
  app/DTO/Authenticate/LoginDTO.php
  app/DTO/Authenticate/MyProfileDTO.php
  app/DTO/Paginate/PaginateDataDTO.php
  app/DTO/Paginate/PaginateParamsDTO.php
  app/DTO/Password/ForgotPasswordDTO.php
  app/DTO/Password/ResetPasswordDTO.php
  app/DTO/Permissions/PermissionDTO.php
  app/DTO/Role/CreateRoleDTO.php
  app/DTO/Role/RoleDTO.php
  app/DTO/Role/UpdateRoleDTO.php
  app/DTO/User/CreateUserDTO.php
  app/DTO/User/RegisterExternalUserDTO.php
  app/DTO/User/UpdateUserDTO.php
  app/DTO/User/UserDTO.php
  app/Http/Controllers/Api/Auth/AuthenticateController.php
  app/Providers/AppServiceProvider.php
  app/Repositories/AbstractRepository.php
  app/Repositories/Contracts/PermissionRepositoryInterface.php
  app/Repositories/Contracts/UserRepositoryInterface.php
  app/Repositories/EloquentRepository/PermissionRepository.php
  app/Repositories/EloquentRepository/UserRepository.php
  app/Services/Authenticate/AuthenticateService.php
  app/Services/Password/PasswordService.php
  app/Services/Permission/PermissionService.php
  app/Services/User/UserService.php
  tests/Feature/APIOnlineTest.php
  tests/Feature/Http/Controller/Api/Auth/AuthenticationTest.php
  tests/Unit/DTO/ForgotPasswordDTOTest.php
  tests/Unit/DTO/LoginDTOTest.php
  tests/Unit/DTO/MyProfileDTOTest.php
  tests/Unit/DTO/PaginateDataDTOTest.php
  tests/Unit/DTO/PaginateParamsDTOTest.php
  tests/Unit/DTO/PermissionDTOTest.php
  tests/Unit/DTO/RegisterExternalUserDTOTest.php
  tests/Unit/DTO/ResetPasswordDTOTest.php
  tests/Unit/DTO/RoleDTOTest.php
  tests/Unit/DTO/UpdateRoleDTOTest.php
  tests/Unit/DTO/UserDTOTest.php
Due: ./vendor/bin/pint

refacto: refatorando forgot and reset password
  app/Actions/Auth/ForgotPasswordAction.php
  app/Actions/Auth/ResetPasswordAction.php
  app/Http/Controllers/Api/Auth/AuthController.php
  app/Http/Controllers/Api/Auth/PasswordController.php
  app/Http/Requests/Auth/ResetPasswordRequest.php
  routes/api/auth.php
Due: ./vendor/bin/pint

test: ajustando testes unitários
  tests/Feature/Http/Controller/Api/APIOnlineTest.php
  tests/Feature/Http/Controller/Api/Auth/AuthControllerTest.php
  tests/Feature/Http/Controller/Api/Auth/ForgotPasswordTest.php
  tests/Feature/Http/Controller/Api/Auth/ResetPasswordTest.php
  tests/Unit/Architecture/ArchitectureTest.php
Due: ./vendor/bin/pint

feat: wip
  app/Actions/Auth/ForgotPasswordAction.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Http/Requests/Auth/ResetPasswordRequest.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Http/Requests/User/UpdateUserRequest.php
  app/Http/Resources/RoleResource.php
  phpstan.neon
Due: ./vendor/bin/pint

feat: wip
  .husky/pre-commit
Due: none

feat: wip
  .husky/commit-msg
Due: none

feat: wip
  app/Actions/User/DeleteUserAction.php
  app/Actions/User/ShowUserAction.php
  app/Actions/User/VerifyAction.php
Due: ./vendor/bin/pint

feat: wip
  app/Http/Requests/Auth/LoginRequest.php
  app/Http/Requests/Auth/ResetPasswordRequest.php
  app/Http/Requests/User/CreateUserRequest.php
  app/Http/Requests/User/UpdateUserRequest.php
Due: ./vendor/bin/pint

feat: wip
  app/Http/Controllers/Api/Auth/AuthController.php
  app/Http/Requests/Auth/ForgotPasswordRequest.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Http/Requests/User/UpdateUserRequest.php
  composer.lock
  package-lock.json
Due: ./vendor/bin/pint

feat: wip
  README.md
  app/Actions/Auth/LoginAction.php
  app/Actions/Auth/LogoutAction.php
  app/Actions/Auth/MyProfileAction.php
  app/Actions/Auth/ResetPasswordAction.php
  app/Actions/Permission/PermissionListAction.php
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/ListAllRoleAction.php
  app/Actions/Role/ListRoleAction.php
  app/Actions/Role/RoleBySlugAction.php
  app/Actions/Role/ShowRoleAction.php
  app/Actions/Role/UpdateRoleAction.php
  app/Actions/User/AddDeleteReasonAction.php
  app/Actions/User/CreateExternalUserAction.php
  app/Actions/User/CreateUserAction.php
  app/Actions/User/ListUserAction.php
  app/Actions/User/UpdateUserAction.php
  app/Http/Controllers/Api/Role/RoleController.php
  app/Http/Controllers/Api/User/UserController.php
  app/Http/Requests/Role/IndexRoleRequest.php
  app/Rules/ValidateCPF.php
  phpstan.neon
Due: ./vendor/bin/pint, npx prettier --write

feat: wip
  app/Http/Middleware/RedirectIfAuthenticated.php
Due: ./vendor/bin/pint

fix: corrigindo 4 testes - pendente corrigir 2 testes
  Dockerfile
  app/Exceptions/Handler.php
  app/Http/Resources/RoleResource.php
  tests/Feature/Http/Controller/Api/Role/RoleControllerTest.php
Due: ./vendor/bin/pint

fix: corrigindo teste de roles - pendente corrigir teste users
  app/Actions/User/ListUserAction.php
  app/Http/Controllers/Api/Role/RoleController.php
  tests/Feature/Http/Controller/Api/Auth/AuthenticationTest.php
  tests/Feature/Http/Controller/Api/Permission/PermissionTest.php
  tests/Feature/Http/Controller/Api/Role/RoleTest.php
  tests/Feature/Http/Controller/Api/User/UserTest.php
Due: ./vendor/bin/pint

chore: update packages
  composer.lock
  package-lock.json
Due: none

chore: update packages
  composer.lock
Due: none

chore: ajustando phpstan
  app/Actions/Auth/LoginAction.php
  app/Actions/Auth/LogoutAction.php
  app/Actions/Auth/MyProfileAction.php
  app/Actions/Permission/PermissionListAction.php
  app/Actions/Role/ListAllRoleAction.php
Due: ./vendor/bin/pint

docs: update docs
  README.md
Due: npx prettier --write

test: ajustando testes
  app/Actions/Auth/MyProfileAction.php
  tests/Feature/Api/User/Datasets.php
Due: ./vendor/bin/pint

feat: wip
  .eslintrc.cjs
  .husky/pre-commit
  Dockerfile
  app/Actions/User/ListUserAction.php
  app/Http/Controllers/Api/Role/RoleController.php
  app/Http/Resources/RoleResource.php
  architecture.svg
  eslint.config.js
  package-lock.json
  package.json
  resources/js/components/AuthComponent.vue
  resources/js/components/auth/FooterAuth.vue
  resources/js/components/auth/register/RegisterForm.vue
  resources/js/components/errors/ErrorComponent.vue
  resources/js/components/shared/ActionButton.vue
  resources/js/components/shared/PageTopTitle.vue
  resources/js/components/shared/SearchInput.vue
  resources/js/composables/Authenticate/useRegisterForm.js
  resources/js/layouts/AdminLayout.vue
  resources/js/layouts/ChildrenLayout.vue
  resources/js/pages/admin/roles/CreatePage.vue
  resources/js/pages/admin/roles/ListPage.vue
  resources/js/pages/admin/users/CreatePage.vue
  resources/js/pages/errors/AccessDeniedPage.vue
  resources/js/pages/errors/NotFoundPage.vue
  resources/js/routes/index.js
  resources/js/services/AxiosClient.js
  resources/js/store/useUserStore.js
  resources/js/utils/isActiveLink.js
  resources/js/utils/permissions.js
  vite.config.js
Due: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: remove comment
  .husky/pre-commit
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.vue)
  ./vendor/bin/pint: any of: *.php
  npx prettier --write: any of: *.{js,css,md}
