Repository yanbrasiliano/starter-kit-laravue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./vendor/bin/pint, npx prettier --write

chore: mudando o user seeder para consumir o novo config
  database/seeders/UserSeeder.php
Due: ./vendor/bin/pint

docs: adicionando documentos de arquitetura
  ARCH.MD
  README.md
  arquitetura.svg
Due: npx prettier --write

chore: update dependencies laravel 11.40
  composer.lock
Due: none

docs: adicionando svg para apresentar arquitetura
  README.md
Due: npx prettier --write

refactor: refatorizando para action patern em listar e criar um perfil
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/ListRoleAction.php
  app/Actions/Role/UpdateRoleAction.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Requests/Role/CreateRoleRequest.php
  app/Http/Requests/Role/IndexRoleRequest.php
Due: ./vendor/bin/pint

chore: update packages
  composer.lock
  package-lock.json
  phpstan.neon
Due: none

refactor: adicionando chips e espaço no texto
  resources/js/components/roles/FormRole.vue
  resources/js/pages/admin/roles/ShowPage.vue
Due: eslint --fix

refactor: refatorando a action pattern
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/ListRoleAction.php
  app/Actions/Role/ShowRoleAction.php
  app/Actions/Role/SyncRolePermissionAction.php
  app/Actions/Role/UpdateRoleAction.php
Due: ./vendor/bin/pint

refactor: controller to action pattern
  app/Http/Controllers/API/RoleController.php
Due: ./vendor/bin/pint

refactor: atualizando seeder resources e requests and tests
  app/Http/Requests/Role/UpdateRoleRequest.php
  app/Http/Resources/RoleResource.php
  database/seeders/RoleSeeder.php
  routes/api/role.php
  tests/Feature/Role/RoleTest.php
Due: ./vendor/bin/pint

chore: spacing and pint changes
  app/Http/Resources/BaseResource.php
  app/Repositories/EloquentRepository/RoleRepository.php
Due: ./vendor/bin/pint

chore: add exclude from pint
  pint.json
Due: none

chore: pint format
  routes/api.php
Due: ./vendor/bin/pint

chore: adicionando documento de arquitetura da aplicação
  ARCH.MD
Due: none

chore: adicionando pgsql client php-intl removendo sass
  Dockerfile
Due: none

ci: atualizando pacotes do js vue 3.5 quasar 2.17 e sass-embeded
  package-lock.json
  package.json
Due: none

chore: removendo o schema gerado para criar o der
  .gitignore
Due: none

chore: ajustando as configurações iniciais
  config/starterkit.php
  database/seeders/UserSeeder.php
Due: ./vendor/bin/pint

docs: adicionando o diagrama de entidade relação se acessa via /der com a chave de acesso
  public/dist/.keep
  public/dist/assets/favicon-C1fIBOxA.ico
  public/dist/assets/index-C68PjMbR.css
  public/dist/assets/index-DY3uEYdp.js
  public/dist/assets/liam_erd.png
  public/dist/favicon.ico
  public/dist/index.html
  public/dist/schema.json
Due: eslint --fix, npx prettier --write

docs: adicionando injeção dos documentos necessários para ver o DER
  routes/web.php
Due: ./vendor/bin/pint

chore: mudanças feitas pelo pint
  tests/Feature/Password/ForgotPasswordTest.php
  tests/Feature/Users/UsersTest.php
Due: ./vendor/bin/pint

docs: ajustando documentação
  .env.example
  README.md
Due: npx prettier --write

chore: add space in docs
  README.md
Due: npx prettier --write

test: adjust tests
  _ide_helper.php
  app/Actions/Role/DeleteRoleAction.php
  app/Actions/Role/ShowRoleAction.php
  app/Actions/Role/SyncRolePermissionAction.php
  app/Http/Controllers/API/RoleController.php
  tests/Feature/Role/RoleTest.php
Due: ./vendor/bin/pint

ci: rename mailpit container
  docker-compose.yaml
Due: none

refactor: ajustando role actions
  app/Actions/Role/CreateRoleAction.php
  app/Actions/Role/DeleteRoleAction.php
  app/Actions/Role/ListAllRoleAction.php
  app/Actions/Role/ListRoleAction.php
  app/Actions/Role/ShowRoleAction.php
  app/Actions/Role/SyncRolePermissionAction.php
  app/Actions/Role/UpdateRoleAction.php
Due: ./vendor/bin/pint

refactor: mudando nome de pasta para estar no padrão psr
  app/Http/Controllers/API/AuthenticateController.php
  app/Http/Controllers/API/PasswordController.php
  app/Http/Controllers/API/PermissionController.php
  app/Http/Controllers/API/RoleController.php
  app/Http/Controllers/API/UserController.php
Due: ./vendor/bin/pint

refactor: mudando para um http code apropiado
  app/Exceptions/RoleIsAssignedToUserException.php
Due: ./vendor/bin/pint

refactor: mudando namespace API para a Api
  routes/api/auth.php
  routes/api/permission.php
  routes/api/role.php
  routes/api/user.php
Due: ./vendor/bin/pint

refactor: mudando namespace API para a Api
  app/Http/Controllers/Api/AuthenticateController.php
  app/Http/Controllers/Api/PasswordController.php
  app/Http/Controllers/Api/PermissionController.php
  app/Http/Controllers/Api/RoleController.php
  app/Http/Controllers/Api/UserController.php
  routes/api/password.php
Due: ./vendor/bin/pint

refactor: add policies
  app/Policies/RolePolicy.php
  app/Policies/UserPolicy.php
Due: ./vendor/bin/pint

refactor: mudando http code to 402 entidade não processada
  tests/Unit/Exceptions/RoleIsAssignedToAUserExceptionTest.php
Due: ./vendor/bin/pint

refactor: testes devem seguir o padrão do pastas da aplicação
  tests/Feature/Role/RoleTest.php
Due: ./vendor/bin/pint

test: refatorando testes de integração
  app/Http/Requests/Role/UpdateRoleRequest.php
  tests/Feature/Http/Controller/Api/Role/RoleControllerTest.php
Due: ./vendor/bin/pint

docs: melhorando a documentação
  README.md
Due: npx prettier --write

refactor: eliminando arquivos e movendo para pastas de dominio
  app/Http/Controllers/Api/RoleController.php
  app/Http/Controllers/Api/UserController.php
  app/Repositories/Contracts/RoleRepositoryInterface.php
  app/Repositories/EloquentRepository/RoleRepository.php
  app/Services/Role/RoleService.php
  tests/Feature/Users/Datasets.php
  tests/Feature/Users/UsersTest.php
Due: ./vendor/bin/pint

test: aplicando mudanças em testes para melhorar o coverage
  database/factories/UserFactory.php
  tests/Feature/Http/Controller/Api/User/Datasets.php
  tests/Feature/Http/Controller/Api/User/UsersTest.php
Due: ./vendor/bin/pint

refactor: refatorando para throw_if throw_less
  app/Actions/Role/DeleteRoleAction.php
Due: ./vendor/bin/pint

refactor: mudando metodo de registrar user para action pattern
  app/Http/Controllers/Api/User/UserController.php
  routes/api/role.php
  routes/api/user.php
Due: ./vendor/bin/pint

refactor: adiciona metodo para encriptar por defeito o password
  app/Models/User.php
Due: ./vendor/bin/pint

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.vue)
  ./vendor/bin/pint: any of: *.php
  npx prettier --write: any of: *.{js,css,md}
